@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650279072369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\f0064";
}

.icon-cuowu:before {
  content: "\f00b3";
}

.icon-shipintianchong:before {
  content: "\e690";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-icon_collect:before {
  content: "\e603";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-xunhuan:before {
  content: "\e623";
}

.icon-tuichu:before {
  content: "\e639";
}

.icon-zanting:before {
  content: "\e630";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shangyishou:before {
  content: "\e604";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-youjiantou:before {
  content: "\e61d";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-zuojiantou:before {
  content: "\e605";
}

.icon-a-18nvxingjiaose:before {
  content: "\ee8f";
}

